<div id="weapon-movies-container">
    <div class="weapon-movies">
        <img class="weapon-movies-img" src="https://trunkey2003.github.io/avenger-nodejs-img/img/MOVIE/ca1.jpg"></img>
        <div class="weapon-movies-des">
            <div class="weapon-movies-des-title">Captian America</div>
            <div class="weapon-movies-des-subtitle">The First Avenger</div>
            <div class="weapon-movies-des-des">During World War II, Steve Rogers decides to volunteer in an experiment that transforms his weak body. He must now battle a secret Nazi organisation headed by Johann Schmidt to defend his nation.</div>
        </div>
    </div>

    <div class="weapon-movies">
        <img class="weapon-movies-img" src="https://trunkey2003.github.io/avenger-nodejs-img/img/MOVIE/blackpanther.jpg"></img>
        <div class="weapon-movies-des">
            <div class="weapon-movies-des-title">Black Panther</div>
            <div class="weapon-movies-des-subtitle"></div>
            <div class="weapon-movies-des-des">After his father's death, T'Challa returns home to Wakanda to inherit his throne. However, a powerful enemy related to his family threatens to attack his nation.</div>
        </div>
    </div>

    <div class="weapon-movies">
        <img class="weapon-movies-img" src="https://trunkey2003.github.io/avenger-nodejs-img/img/MOVIE/ca3.jpg"></img>
        <div class="weapon-movies-des">
            <div class="weapon-movies-des-title">Captian America</div>
            <div class="weapon-movies-des-subtitle">The Winter Solder</div>
            <div class="weapon-movies-des-des">As Steve Rogers adapts to the complexities of a contemporary world, he joins Natasha Romanoff and Sam Wilson in his mission to uncover the secret behind a deadly, mysterious assassin.</div>
        </div>
    </div>

    <div class="weapon-movies">
        <img class="weapon-movies-img" src="https://trunkey2003.github.io/avenger-nodejs-img/img/MOVIE/ca4.jpg"></img>
        <div class="weapon-movies-des">
            <div class="weapon-movies-des-title">Captian America</div>
            <div class="weapon-movies-des-subtitle">Civil War</div>
            <div class="weapon-movies-des-des">Friction arises between the Avengers when one group supports the government's decision to implement a law to control their powers while the other opposes it.</div>
        </div>
    </div>

    <div class="weapon-movies">
        <img class="weapon-movies-img" src="https://trunkey2003.github.io/avenger-nodejs-img/img/MOVIE/movie1.jpg"></img>
        <div class="weapon-movies-des">
            <div class="weapon-movies-des-title">The Avengers</div>
            <div class="weapon-movies-des-subtitle"></div>
            <div class="weapon-movies-des-des">Nick Fury is compelled to launch the Avengers Initiative when Loki poses a threat to planet Earth. His squad of superheroes put their minds together to accomplish the task.</div>
        </div>
    </div>

    <div class="weapon-movies">
        <img class="weapon-movies-img" src="https://trunkey2003.github.io/avenger-nodejs-img/img/MOVIE/movie2.jpg"></img>
        <div class="weapon-movies-des"> 
            <div class="weapon-movies-des-title">The Avengers</div>
            <div class="weapon-movies-des-subtitle">Age Of Ultron</div>
            <div class="weapon-movies-des-des">Tony Stark builds an artificial intelligence system named Ultron with the help of Bruce Banner. When the sentient Ultron makes plans to wipe out the human race, the Avengers set out to stop him.</div>
        </div>
    </div>
</div>

<div id="weapon">
    <div id="weapon-content">
        <div id="weapon-content-title"><h1 class="text-white">Weapon</h1></div>

        <div id="weapon-content-subtitle"><h4>This category is for all weapons that appear in the film The Avengers.</h4></div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/spacestone.gif" class="weapon-img"></img>
            <div class="weapon-name">Space Stone</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/mindstone.gif" class="weapon-img"></img>
            <div class="weapon-name">Mind Stone</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/realitystone.gif" class="weapon-img"></img>
            <div class="weapon-name">Reality Stone</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/powerstone.gif" class="weapon-img"></img>
            <div class="weapon-name">Power Stone</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/timestone.gif" class="weapon-img"></img>
            <div class="weapon-name">Time Stone</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/soulstone.gif" class="weapon-img"></img>
            <div class="weapon-name">Soul Stone</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/shield.jpg" class="weapon-img"></img>
            <div class="weapon-name">Captain America's Shield</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/ironman.jpg" class="weapon-img"></img>
            <div class="weapon-name">Iron Man's Armor</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/thorhammer.jpg" class="weapon-img"></img>
            <div class="weapon-name">Mjølnir</div>
        </div>

        <div class="weapon-items">
            <img src="https://trunkey2003.github.io/avenger-nodejs-img/img/WEAPON/tesseract.png" class="weapon-img"></img>
            <div class="weapon-name">Tesseract</div>
        </div>
    </div>
</div>