<div id="footer">
    <div id="footer-content">
      <ul class="footer-list">
        <li><i class="ti-world"></i> THE AVENGERS WEBSITE PROJECT</li>
        <li>
          <i class="ti-facebook"></i>
          <a href="https://www.facebook.com/trunk3y/" id="facebook-name">Ho
            Quang Lam</a>
        </li>
        <li><i class="ti-map-alt"></i>
          86 Duong Dinh Hoi, Phuoc Long B, District 9, HCM City</li>
        <li><i class="ti-mobile"></i> (+84)92844753</li>
        <li><i class="ti-email"></i> hoquanglam090@gmail.com</li>
      </ul>
    </div>
</div>